body {
    background-image: url('CS.png');
    background-size: cover;
    background-position: center;
    background-color: #FFD6E9;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    margin-top: 6rem;
    width: 90%;
    margin: auto;
    justify-content: center;
}

nav .mainMenu {
    display: flex;
    gap: 5%;
}

nav .mainMenu li {
    list-style: none;
}

nav .mainMenu li a {
    text-decoration: none;
}

.header {
    margin-top: 8rem;
    line-height: 1.6;
    text-align: center;
    font-size: 40px;
    color: #5C2C06;
    background-size: cover;
    background-position: center;
    background: #FFBCDA;
    padding: 0.7rem;
    gap: 5%;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 8rem;
}

.header p {
    margin-top: 0.5rem;
}

.portfolio {
    margin-top: 8rem;
    text-align: center;
    font-size: 25px;
    color: #5C2C06;
}

.portfolio-text {
    margin-top: 3rem;
    gap: 5%;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 8rem;
    font-size: 20px;
    color: #5C2C06;
    background-size: cover;
    background-position: center;
    background: #E79898;
    opacity: 80%;
    padding: 0.7rem;
    text-align: center;
}

.portfolio p {
    margin-top: 0.5rem;
}

footer {
    margin-left: 6rem;
    padding: 0.7rem;
    margin-top: 8rem;
    margin: auto;
    justify-content: center;
    gap: 5%;
    width: 90%;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #5C2C06;
}

.icons {
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 0.7rem;
    font-size: 2px;
    color: #5C2C06;
    width: 20%;
}

.icon-img-1 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.icon-img-2 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.copyright {
    text-align: center;
    padding: 5rem;
    margin-top: 0.7rem;
    color: #5C2C06;
    font-size: 16px;
}

footer {
    margin-left: 6rem;
    padding: 0.7rem;
    margin-top: 8rem;
    margin: auto;
    justify-content: center;
    gap: 5%;
    width: 90%;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #5C2C06;
}

.icons {
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 0.7rem;
    font-size: 2px;
    color: #5C2C06;
    width: 20%;
}

.icon-img-1 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.icon-img-2 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.copyright {
    text-align: center;
    padding: 5rem;
    margin-top: 0.7rem;
    color: #5C2C06;
    font-size: 16px;
}