body {
    background-image: url('CS.png');
    background-size: cover;
    background-position: center;
    background-color: #FFD6E9;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    margin-top: 6rem;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.openMenu {
    display: none;
}

.closeMenu {
    display: none;
}

nav .mainMenu {
    display: flex;
    gap: 5%;
}

nav .mainMenu li {
    list-style: none;
}

nav .mainMenu li a {
    text-decoration: none;
}

.header {
    margin-top: 8rem;
    line-height: 1.6;
    text-align: center;
    font-size: 40px;
    color: #5C2C06;
    background-size: cover;
    background-position: center;
    background: #FFBCDA;
    padding: 0.7rem;
    gap: 5%;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 8rem;
}

.header p {
    margin-top: 0.5rem;
}

.resume-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #5C2C06;
    font-size: 24px;
    font-weight: 2000;
    margin-top: 24rem;
    margin-bottom: 3rem;
}

.page-viewer{
    position: relative;
    max-width: 55%;
    margin: auto;
    overflow: hidden; 
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
}

.image-slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image-slider img {
    width: 70%;
    /*max-width: 300px;*/
    margin: 10px;
    border-radius: 8px;
    flex-shrink: 0;
}

.res-link {
    margin-top: 0.5rem;
    text-align: center;
}

.res-link img {
    width: 5%;
}

footer {
    margin-left: 6rem;
    padding: 0.7rem;
    margin-top: 8rem;
    margin: auto;
    justify-content: center;
    gap: 5%;
    width: 90%;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #5C2C06;
}

.icons {
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 0.7rem;
    font-size: 2px;
    color: #5C2C06;
    width: 20%;
}

.icon-img-1 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.icon-img-2 img {
    width: 100%;
    fill: #5C2C06;
    border: #5C2C06;
}

.icon-img-3 img {
    width: 15%;
    fill: #5C2C06;
    border: #5C2C06;
}

.copyright {
    text-align: center;
    padding: 5rem;
    margin-top: 0.7rem;
    color: #5C2C06;
    font-size: 16px;
}

@media(max-width: 800px) {
    nav .mainMenu {
        background-color: white;
        width: 80%;
        height: 36vh;
        gap: 0%; 
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 1;
        gap: 6%;
        animation: slideInFromRight 2s ease-out;
        transition: top 1.5s ease;
        display: none;
        opacity: 80%;
    }

    .new-nav {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
        
    .logo p {
        font-size: 12px;
        margin: 0;
        margin-left: 1rem;
        margin-top: 0.8rem;
    }

    .openMenu {
        display: grid;
    }

    .closeMenu {
        display: grid;
    }

    .openMenu img {
        width: 10%;
        margin-left: 18rem;
    }

    .closeMenu img {
        width: 5%;
        margin-left: 6rem;
        margin-top: 2rem;
    }

    .resume-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #5C2C06;
        font-size: 16px;
        font-weight: 2000;
        margin-top: 24rem;
        margin-bottom: 3rem;
    }

    .page-viewer{
        position: relative;
        max-width: 90%;
        margin: auto;
        overflow: hidden; 
        display: flex;
        align-items: center;
        background: #f0f0f0;
        border-radius: 10px;
        padding: 1rem;
    }
    
    .image-slider {
        display: flex;
        transition: transform 0.4s ease-in-out;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    
    .image-slider img {
        width: 70%;
        /*max-width: 300px;*/
        margin: 10px;
        border-radius: 8px;
        flex-shrink: 0;
    }

    .co-link {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 11px;
    }

    .co-link img {
        width: 5%;
    }

    .icon-img-1 img {
        width: 100%;
        fill: #5C2C06;
        border: #5C2C06;
    }
    
    .icon-img-2 img {
        width: 100%;
        fill: #5C2C06;
        border: #5C2C06;
    }
    
    .icon-img-3 img {
        width: 15%;
        fill: #5C2C06;
        border: #5C2C06;
    }
    
    .copyright {
        text-align: center;
        padding: 5rem;
        margin-top: 0.7rem;
        color: #5C2C06;
        font-size: 16px;
    }
}